{% extends "base.html" %}

{% block title %}Password Reset{% endblock title %}

{% block block_header %}
{% with banner=False %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block body %}
<div class="div-mid">
    <div class="container my-5">
        <div class="row big-card">
            <div class="col-6 row mx-auto">
                <div class="col-3 big-card-right"></div>
                <div class="col-9 big-card-left">
                    <h4 class="mb-5">بازیابی رمز عبور</h4>
                    <p>ایمیل خود را وارد کنید</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="ارسال">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
