{% load static %}

<div id="banner-header" class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 div-img">
                <img class="mt-md-5 mt-lg-6 mt-5" src="{% static 'img/car-rent-befarman.png' %}" alt="">
            </div>
            <div class="mt-lg-6 col-md-6 mt-md-5 mt-sm-0 col-sm-12 ">
                <h1>بفرمان<br>
                    اپلیکیشن تخصصی اجاره خودرو
                    مردم به مردم
                </h1>
                <p>سامانه اجاره خودروی بفرمان با شعار ” هر محله یک ایستگاه“، امکان اجاره دادن خودرو توسط مالک و
                    اجاره کردن آن توسط سایر
                    مردم را فراهم کرده است. با استفاده از این اپلیکیشن، هر مکانی که هستید می توانید خودروی خود را
                    اجاره بدهید و همین طور می‌
                    توانید خودرو دلخواه خود را اجاره کنید.</p>
            </div>
        </div>
    </div>
</div>