{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{% block title %}{% endblock title %}</title>


  <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'style/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'style/main-style.css' %}">


</head>

<body>

  {% include 'navbar.html' %}

  {% if banner != False %}
  {% include 'banner.html' %}
  {% endif %}


    {# Note: log out works with post request!!!! #}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="خروج">
        </form>
    {% else %}
        <a href="{% url 'login' %}">وارد شوید</a>
    {% endif %}
  {% block body %}
  {% endblock body %}


  {% include 'sidebar-horizontal.html' %}
  {% include 'footer.html' %}


  <script src="{% static 'script/jquery-3.5.1.js' %}"></script>
  <script src="{% static 'script/bootstrap.js' %}"></script>
  <script src="{% static 'script/main-script.js' %}"></script>

  {% block script %}

  {% endblock %}
</body>

</html>