{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{% block title %}{% endblock title %}</title>


  <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'style/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'style/main-style.css' %}">


</head>

<body>

  {% block block_header %}
  {% include 'navbar.html' %}
  {% if banner != False %}
  {% include 'banner.html' %}
  {% endif %}
  {% endblock %}


  {% block body %}
  {% endblock body %}


  {% include 'sidebar-horizontal.html' %}
  {% include 'footer.html' %}


  <script src="{% static 'script/jquery-3.5.1.js' %}"></script>
  <script src="{% static 'script/bootstrap.js' %}"></script>
  <script src="{% static 'script/main-script.js' %}"></script>

  {% block script %}

  {% endblock %}
</body>

</html>