{% load static %}

<div id="footer" class="">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-center align-self-center">
                <div class="d-inline-flex mx-3">
                    <img src="{% static 'img/enamad.png' %}" alt="enamad" width="125">
                </div>
                <div class="d-inline-flex mx-3">
                    <img src="{% static 'img/samandehi.png' %}" alt="samandehi" width="125">
                </div>
                <div class="d-inline-flex mx-3">
                    <img src="{% static 'img/enamad.png' %}" alt="" width="125">
                </div>
            </div>
            <p class="text-center col-12">© کلیه حقوق مادی و معنوی این سایت متعلق به ما می باشد</p>
        </div>
    </div>
</div>