{% load static %}
<div id="sidebar-hor" class="my-4">
    <div class="container my-4">
        <div class="row text-center text-sm-end">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 xs fs-15px">
                <img src="{% static 'img/logo.png' %}" alt="" width="100">
                <p>سامانه تخصصی اجاره خودرو مردم به مردم</p>
                <ul class="fs-1d5em">
                    <li class="d-inline-block mx-2"><a href="#"><i class="bi bi-telegram"></i></a></li>
                    <li class="d-inline-block mx-2"><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li class="d-inline-block mx-2"><a href="#"><i class="bi bi-linkedin"></i></a></li>
                    <li class="d-inline-block mx-2"><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 xs">
                <h4>لینک های مفید</h4>
                <ul class="list-group list-group-flush mx-2 my-4">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 xs">
                <h4>راهنما</h4>
                <ul class="list-group list-group-flush mx-2 my-4">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 xs">
                <h4>راهنما</h4>
                <ul class="list-group list-group-flush mx-2 my-4">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>